<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Go + Htmx</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>

<body class="container">
    <div class="row mt-4">
        <div class="col">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Add Command
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form hx-post="/add-command" hx-target="#command-list" hx-swap="beforeend" hx-indicator="#spinner">
                                <div class="mb-2">
                                    <label for="command">Command</label>
                                    <input type="text" name="command" id="command" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="explain">Explain</label>
                                    <input type="text" name="explain" id="explain" class="form-control" />
                                </div>
                
                                <button type="submit" class="btn btn-primary">
                                    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-4">Command</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Command</th>
                        <th scope="col">Explain</th>
                    </tr>
                </thead>
                <tbody id="command-list">
                    {{ range .cmdNotes }}
                    {{ block "command-row" . }}
                        <tr>
                            <td>{{ .Command }}</td>
                            <td>{{ .Explain }}</td>
                        </tr>
                    {{ end }}
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>